# Default reviewers for Granite Lake

# Granular paths
/app/                  @favoritemedium/granite-maintainers
/server/               @favoritemedium/granite-maintainers
/contracts/            @favoritemedium/granite-maintainers
/verification_api/     @favoritemedium/granite-maintainers
/verification_portal/  @favoritemedium/granite-maintainers

# Shared files in this repository
/.github/              @favoritemedium/granite-maintainers
/README.md             @favoritemedium/granite-maintainers
/CHANGELOG.md          @favoritemedium/granite-maintainers
/SECURITY.md           @favoritemedium/granite-maintainers
/CONTRIBUTING.md       @favoritemedium/granite-maintainers
/LICENSE               @favoritemedium/granite-maintainers

# Fallback for everything else
*                      @favoritemedium/granite-maintainers
