NODE_ENV=development
CLIENT_ID=domain_demo
DOMAIN=domain.com
ADMIN_WALLET=0xadmin
PORT=8080
HOST=0.0.0.0
ADMIN_API_KEY=replace-with-a-long-random-admin-key
APP_API_KEY=replace-with-a-long-random-app-key
OTP_TTL_MS=300000
GOOGLE_CHAT_WEBHOOK_URL=
SUI_NETWORK=testnet
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
SUI_PRIVATE_KEY=
SUI_PACKAGE_ID=0xf4b83a02ad29b78266f8b1a39f5b533bde6bd5ef00eb434db46c3f7be29639db
SUI_MODULE=photo_attestation
SUI_REGISTRY_ID=0xde8b9f476c91dbdb05238c656a6ea3aa9f670e3b732e3e5d48628f5d2b66122d
SUI_GAS_BUDGET=10000000
VAULT_ENABLED=false
VAULT_ADDR=
VAULT_TOKEN=dev-root-token
VAULT_NAMESPACE=
VAULT_AUTH_METHOD=token
VAULT_ROLE_ID=
VAULT_SECRET_ID=
VAULT_KV_MOUNT=secret
VAULT_SECRET_PREFIX=
VAULT_HOST_PORT=8200
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432
API_HOST_PORT=8080
