PORT=8081
HOST=0.0.0.0
SUI_RPC_URL=https://rpc.ankr.com/sui/testnet
GRANITE_LAKE_PACKAGE_ID=0xf4b83a02ad29b78266f8b1a39f5b533bde6bd5ef00eb434db46c3f7be29639db
# GRANITE_LAKE_ORIGINAL_PACKAGE_ID defaults to GRANITE_LAKE_PACKAGE_ID; only set
# this once this package has itself been upgraded.
GRANITE_LAKE_REGISTRY_ID=0xde8b9f476c91dbdb05238c656a6ea3aa9f670e3b732e3e5d48628f5d2b66122d
